%h1
  = link_to "All Makes", makes_path
  = ":"
  = @model

%hr

- @model_years.each do |s|
  .model
    %center
      = link_to image_tag(s[:image], size: "300x300"), "#"
      %p
      = s[:year]
      %p
