%h4
  = link_to "All Makes", makes_path
  = ":"
  = @trim.first["makeName"]
  = ":"
  = @trim.first["modelName"]
  = ":"
  = @trim_name

%hr

%center
  %h3.text-info Image Gallery:
  .carousel.slide#myCarousel
    .carousel-inner
      - @images.each do |s|
        %div{:class => "item", :id => "#{s[:order]}"}
          = image_tag(s[:link], size: "600x600")
          .carousel-caption
            = s[:caption]

    %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›



%table.table.table-bordered
  %tr.shaded
    %th{:colspan => 2}
      %h4 Pricing:
  - @trim.first["price"].each do |price|
    %tr
      %td
        %h6
          = price.first
      %td
        - if price.last
          = number_to_currency(price.last)
        - else
          = "n/a"

%table.table.table-bordered
  - @trim.first["attributeGroups"].each do |attr_group|
    %tr.shaded
      %th{:colspan => 2}
        %h4= attr_group.last["name"].gsub(/_/," ")
    - if attr_group.last["attributes"]
      %tr
        - attr_group.last["attributes"].each do |attr|
          %tr
            %td
              %h6
                = attr.last["name"].gsub(/_/," ")
            %td
              - if attr.last["value"]
                = attr.last["value"]
              - else
                = "n/a"



:javascript
  $(document).ready(function() {
      $("#1").addClass("active");
  })
