%h1
  = link_to @trim.model.make.name, makes_path
  >
  = link_to @trim.model.name, model_path(@trim.model)
  >
  = @trim.name

%hr

.model
  - @trim.images.each do |s|
    = link_to image_tag(s.link, size: "200x200"), feature_image_path(image_id: s)
    %p
    = s.description
    %p
