%h1 All Autos: Makes
%hr
%p
.inline= radio_button_tag "only", "new", true
.inline= label_tag "New"
.inline= radio_button_tag "only", "all", false
.inline= label_tag "All"
%hr
%p
%table.table.table-bordered.table-striped
  %tr
    %th Make
  - @makes.each do |make|
    %tr{:id => "make_#{make[:id]}"}
      %td= make[:name]
    %tr{:id => "make_models_#{make[:id]}"}
      %td
        %span{:id => "#{make[:id]}_models"}

      :javascript
        $(function() {
          $("#make_models_" + "#{make[:id]}").hide(); 
          $("#make_" + "#{make[:id]}").click(function(){
            //document.getElementById("#{make[:id]}_models").innerHTML = "";
            if (document.getElementById("make_models_#{make[:id]}").style.display == "none"){
              $("#make_models_#{make[:id]}").show(); 
              if (document.getElementById("#{make[:id]}_models").childNodes.length < 1){
                var val_new = document.getElementById("only_new").checked;
                $.ajax({
                  type: 'GET',
                  dataType: 'script',
                  url: "/get_models?id=#{make[:id]}&new=" + val_new
                });
              }
            }
            else {
              $("#make_models_#{make[:id]}").hide(); 
            }
          });
        });


