%h1 All Autos: Makes
%hr
%p
= form_tag model_years_url, :id => "make_model_selector"  do
  .inline#new_block= select_tag "new", options_for_select([["New", "1"], ["Used", "0"]]), :class => "small"
  .inline#makes_block= select_tag "makes", options_for_select(@makes.map {|m| [m[:name], m[:id]] })
  .inline#models_block
  .hidden= submit_tag
  :javascript
    $(".hidden").hide();
%hr
%p
%table.table.table-bordered.table-striped
  %tr
    %th Make
  - @makes.each do |make|
    %tr{:id => "make_#{make[:id]}"}
      %td= make[:name]
    %tr{:id => "make_models_#{make[:id]}"}
      %td
        %span{:id => "#{make[:id]}_models"}

      :javascript
        $(function() {
          $("#make_models_" + "#{make[:id]}").hide(); 
          $("#make_" + "#{make[:id]}").click(function(){
            //document.getElementById("#{make[:id]}_models").innerHTML = "";
            if (document.getElementById("make_models_#{make[:id]}").style.display == "none"){
              $("#make_models_#{make[:id]}").show(); 
              if (document.getElementById("#{make[:id]}_models").childNodes.length < 1){
                var new_used = document.getElementById("new").value;
                $.ajax({
                  type: 'GET',
                  dataType: 'script',
                  url: "/get_models?id=#{make[:id]}&new=" + new_used
                });
              }
            }
            else {
              $("#make_models_#{make[:id]}").hide(); 
            }
          });
        });

:javascript
  $(document).ready(function() {
    $("#makes").change(function(){
      var makeId = document.getElementById("makes").value;
      var new_used = document.getElementById("new").value;
      $.ajax({
        type: 'GET',
        dataType: 'script',
        url: "/autofill_models?id=" + makeId  + "&new=" + new_used
      });
    });
  });





